{% extends "header.html" %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/quail-cal.css">
{% endblock %}
{% block body %}

    <!-- calender -->
    <div class="page cal" ng-controller="CalController as CalCtrl">
      <div class="page-header">
        <!-- Calendar for {{ title }} -->
        <a href="/cal" class="btn btn-primary">Now</a>

        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{ request.args.get("tags") or "All Tags" }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/cal/{{now.month}}/{{now.year}}">All Tags</a></li>
            {% for t in alltags %}
              <li><a href="?tags={{t}}">{{t}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <ul class="pagination" style="float: right; font-size: 0.8em; margin: 0px;">
          <li>
            <a href="/cal/{% if now.month > 1 %}{{now.month-1}}/{{now.year}}{% else %}12/{{now.year-1}}{% endif %}">&laquo;</a>
          </li>
          <li class="active">
            <a href>{{now.month}}/{{now.year}}</a>
          </li>
          <li>
            <a href="/cal/{% if now.month < 12 %}{{now.month+1}}/{{now.year}}{% else %}1/{{now.year+1}}{% endif %}">&raquo;</a>
          </li>
        </ul>
      </div>
      <div class="page-content">
        <div id="calendar" class="cal-context" style="width: 100%;">

          <div class="cal-row-fluid cal-row-head">
              <div class="cal-cell1">Sunday</div>
              <div class="cal-cell1">Monday</div>
              <div class="cal-cell1">Tuesday</div>
              <div class="cal-cell1">Wednesday</div>
              <div class="cal-cell1">Thursday</div>
              <div class="cal-cell1">Friday</div>
              <div class="cal-cell1">Saturday</div>
          </div>

          <div class="cal-month-box">
            {% for week in events %}
              <!-- each week -->
              <div class="cal-row-fluid cal-before-eventlist">

                {% for day in week %}
                  <!-- each day -->
                  <div class="cal-cell1 cal-cell {% if day.day == now.day and dt.datetime.now().month == now.month and dt.datetime.now().year == now.year%}today{% endif %}" data-cal-row="-day2" ng-repeat="day in week" data-events="{{ day.events }}">
                    <div class="cal-month-day cal-day-{{day.month}}month cal-month-first-row">

                      <button type="button" class="close plus" data-day="{{now.month}}/{{day.day}}/{{now.year}}">
                        <span class="glyphicon glyphicon-new-window"></span>
                      </button>

                      <span class="pull-right" data-cal-date="{{now.year}}/{{day.month}}/{{now.day}}" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">{{ day.day }}</span>

                      <div class="events-list">
                        {% for evt in day.events %}
                          {% if ( request.args.get("tags") is defined and request.args.get("tags") and evt.has_key("tags") and bitwiseand(aset(evt["tags"]), aset(request.args.get("tags").split("|")))  ) or not request.args.get("tags") %}
                          <!-- <a href data-event-class="event-warning" class="pull-left event event-warning"></a> -->
                            <a 
                            data-event-class="event-{{ evt.color or "yellow" }}" 
                            class="pull-left event event-{{ evt.color or "yellow" }}"  
                            data-toggle="popover" 
                            data-title="{{ evt.name }}" 
                            data-day="{{ evt.when }}"
                            data-content="
                            <strong>When:</strong> {{ evt.when }} 
                            {% if evt.where %}
                              <br/>
                              <strong>Where:</strong> {{ evt.where }} 
                            {% endif %}
                            {% if evt.tags %}
                              <br/>
                              <strong>Tags:</strong> {{ ', '.join(evt.tags) }} 
                            {% endif %}">
                              {{ evt.name }}
                              <span class="delete-event" data-name="{{ evt.name }}" data-day="{{now.month}}/{{day.day}}/{{now.year}}">×</span>
                            </a>
                          {% endif %}
                        {% endfor %}

                      </div>


                    </div>
                  </div>
                {% endfor %}

              </div>
            {% endfor %}


          </div>

        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        next = false;

    $("button.plus").click(function() {
      var day = "add <name> to cal "+$(this).attr("data-day")
      $("form.navbar-form input[type=text]").val( $("form.navbar-form input[type=text]").val()+day );
      $("form.navbar-form input[type=text]").focus()
      $("form.navbar-form input[type=text]")[0].setSelectionRange(4, 10)
    });

    $("a span.delete-event").click(function( evt ) {
      var day = "cal delete "+$(this).attr("data-name")+" "+$(this).attr("data-day")
      $("form.navbar-form input[type=text]").val( $("form.navbar-form input[type=text]").val()+day );
      $("form.navbar-form input[type=text]").focus();
    });

    // create popovers
    // http://stackoverflow.com/questions/7703878/how-can-i-hold-twitter-bootstrap-popover-open-until-my-mouse-moves-into-it
    var timeoutObj;
    $('.event').popover({
        offset: 10,
        trigger: 'manual',
        html: true,
        placement: 'bottom',
        animate: true,
        container: 'body',
        template: '<div class="popover" onmouseover="clearTimeout(timeoutObj);"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
    }).click(function(e) {

        $("div.cal-month-box .cal-row-fluid .cal-cell").css("background", "transparent");
        $(".popover").popover("hide");
        $(this).popover('show');
        next = true;
    });

    // hide popovers
    $(document).on('click',function(e) {
      if(!$(e.target).is('.event')) {
        if (next) {
          $(".popover").popover("hide");
          $(this).css("background", "transparent")
          next = false;
          // console.log(next)
        } else {
          next = true;
          // console.log(next)
        }
      }
    });


    $('.event').on('show.bs.popover', function () {
      var popover = $(this);
      $("div.cal-month-box .cal-row-fluid").each(function(e){
        var week = $(this)
        week.find(".cal-cell").each(function(e){
          // is this the day for this event?
          if ( $(this).attr("data-events").indexOf( popover.attr("data-day") ) !== -1 ) {
            $(this).css("background", "rgba(66, 139, 202, 0.5)")
          }
        });
      });

    });

    $('.event').on('hide.bs.popover', function () {
      $("div.cal-month-box .cal-row-fluid .cal-cell").css("background", "initial");
    });

    </script> 
{% endblock %}