@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Lato);
/*border: 2px solid rgba(26, 139, 188, 0.5);*/

p, li, div {
  font-family: "Lato", Arial, sans-serif;
  color: #1A1A1A;
  font-size: 1.4em;
}

h1, h2, h3, h4 {
  font-family: "Varela Round", Arial, sans-serif;
  color: #1A1A1A;
  font-size: 2.5em;
}


div.header {
  background: #1A8BBC;
  height: 128px;

  border-bottom: 4px solid #0e4c66;
}

div.header div.header-float {
  width: 1200px;
  margin: 0px auto;

  position: relative;
}

div.header div.header-float > img {
  position: absolute;
  top: 20px;

  height: 100px;
  padding-right: 32px;
}

div.searchbox {
  position: absolute;
  top: 35px;
  left: 220px;

  padding-right: 128px;
  margin: 0px;

  height: 64px;
  width: 875px;
  
  display: inline-block;
}

div.content.center {
  width: 1200px;
  min-height: 500px;
  margin: 0px auto;

  padding: 64px;
}


/* query */
h1.big {
  font-size: 60px;
  text-align: center;
  margin: 20px 0px 100px 0px;
  color: rgba(26, 26, 26, 0.75);
  padding-bottom: 50px;
}

h1.big.queryresponse {
  font-size: 100px;
  text-align: center;
  color: #1A1A1A;

  white-space: nowrap;
}

h1.big.queryresponse:before, h1.big.queryresponse:after { content: '"'; }

.blue { background: #BBE7FB; }
.red { background: #FBBBBD; }
.yellow { background: #FBF6BB; }
.orange { background: #fBD9BB; }