{% extends "layout.html" %}

{% block title %}Results{% endblock title %}

{% block contents_class %}
  {% if query[0].has_key("color") %}
    {{ query[0]["color"] }}
  {% endif %}

{% endblock contents_class %}
{% block contents %}
<!-- {{ query[0]|tojson }} -->
<h1 class="big">Quail says...</h1>
<h1 class="big queryresponse">
  {{ query[0]["text"] }}
</h1>
{% endblock contents %}

{% block scripts %}
<script src="../../static/js/jq.quickfit.js"></script>
<script type="text/javascript">$("h1.big.queryresponse").bigText();</script>
{% endblock scripts %}
